@* @page "/"

<div style="background-image:url(../Images/15_big.jpg);width:1700px; height:500px;background-position:center; background-size:cover; align-items:center; margin-right:300px">
    <a href="Identity/Account/Login"><MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Login" Color="Color.Tertiary" Style="align-items:start; margin-left:20px"><b style="color:white">تسجيل الدخول</b></MudButton></a>
    <a href="Identity/Account/Register"><MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Tertiary" Style="align-items:start"><b style="color:white">انشاء حساب</b></MudButton></a>
</div>
 *@
    